In [1]:
 %gui qt
import scipy
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np
from scipy.io.matlab import mat_struct
import h5py
import pyqtgraph as pg
# fwd_i = scipy.io.loadmat("Fwd_I.mat")
# trans_i = scipy.io.loadmat("Trans_I.mat")

In [4]:
fwd_q_data_times = pd.read_csv("fwd_q.csv")
#fwd_q_data.insert(0, "time", [0.0012, 0.0019, 0.0026, 0.0033, 0.0041, 0.0048, 0.0055])
#fwd_q_data_times.insert(0, "time", [0.0012, 0.0019, 0.0026, 0.0033, 0.0041, 0.0048, 0.0055])

In [5]:
fwd_q_data_times.head()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.16374,0.16375,0.16376,0.16377,0.16378,0.16379,0.16380,0.16381,0.16382,0.16383
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,-508,2034,-1037,-1251,1985,-251,-1794,1602,574,-2053
2,963,1303,-1972,171,1822,-1563,-649,2051,-903,-1367,...,870,1378,-1938,68,1866,-1494,-747,2054,-813,-1441
3,1901,-2,-1905,1433,807,-2066,733,1484,-1882,-81,...,1859,101,-1944,1356,898,-2061,637,1553,-1835,-183
4,1958,-1307,-974,2045,-574,-1609,1791,250,-1988,1240,...,1985,-1226,-1062,2032,-474,-1671,1737,350,-2014,1157

In [ ]:
#trying to plot between 19 and 26 milliseconds
# I can just directly plot it by assigning times in between 26 and 19

times = np.linspace(0.0019, 0.0026, 16384)
fwd_q = fwd_q_data_times.loc[4].to_numpy()
#fwd_q
np.save('fwd_q_19', fwd_q)

pg.plot(times[1:500], fwd_q[1:500])

In [7]:
a = np.load('fwd_q_19.npy')
a

array([ 4.100e-03,  1.958e+03, -1.307e+03, ...,  3.500e+02, -2.014e+03,
        1.157e+03])

In [8]:
max(a)

2057.0

In [9]:
# #times = np.linspace(0.0019, 0.0026, 16384)
# test = float(times[1] - 0.0019)
# test

fwd_i_data = pd.read_csv("fwd_i.csv")
fwd_i_data

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.16374,0.16375,0.16376,0.16377,0.16378,0.16379,0.16380,0.16381,0.16382,0.16383
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,1996,-300,-1793,1635,541,-2054,1014,1291,-1984,218
2,1818,-1595,-623,2052,-956,-1359,1955,-150,-1861,1541,...,1865,-1532,-720,2057,-866,-1434,1919,-48,-1902,1470
3,782,-2067,786,1478,-1901,-37,1923,-1426,-861,2058,...,876,-2066,690,1548,-1857,-144,1956,-1353,-955,2050
4,-627,-1604,1815,209,-1988,1286,1012,-2053,545,1642,...,-528,-1668,1764,312,-2011,1205,1101,-2037,445,1702
5,-1733,-397,2020,-1151,-1175,2013,-380,-1752,1682,462,...,-1677,-499,2037,-1067,-1261,1990,-277,-1805,1621,563
6,-2056,992,1311,-1977,193,1829,-1581,-647,2053,-936,...,-2065,899,1389,-1945,88,1876,-1514,-744,2058,-842

In [8]:
fwd_i_data = pd.read_csv("fwd_i.csv")
fwd_i = fwd_i_data.loc[1].to_numpy()
np.save('fwd_i_19', fwd_i)

fwd_q_data = pd.read_csv("fwd_q.csv")
fwd_q = fwd_q_data_times.loc[1].to_numpy()
np.save('fwd_q_19', fwd_q)

In [9]:
trans_i_data = pd.read_csv("trans_i.csv")
trans_i = trans_i_data.loc[1].to_numpy()
np.save('trans_i_19', trans_i)
trans_q_data = pd.read_csv("trans_q.csv")
trans_q = trans_q_data.loc[1].to_numpy()
np.save('trans_q_19', trans_q)

In [17]:
len(fwd_q)

16385

In [11]:
fwd_r = fwd_q[:]*np.cos(2*np.pi*times) + fwd_i[:]*np.sin(2*np.pi*times)
fwd_r_fft = scipy.fft.fft(fwd_r)
frequencies = scipy.fft.fftfreq(np.size(times), 44.44e-6)

plot = pg.plot(frequencies, abs(fwd_r_fft)).setLogMode(False, True)

In [12]:
trans_qs = pd.read_csv("trans_q.csv")
trans_is = pd.read_csv("trans_i.csv")

trans_is

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.16374,0.16375,0.16376,0.16377,0.16378,0.16379,0.16380,0.16381,0.16382,0.16383
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,285,-354,-70,363,-236,-203,386,-80,-305,343
2,86,-360,238,234,-361,90,341,-304,-73,390,...,87,-384,195,219,-387,42,320,-321,-114,372
3,-201,-251,363,-48,-349,292,108,-391,172,247,...,-176,-259,365,-21,-352,285,131,-388,156,262
4,-367,2,351,-283,-149,385,-148,-277,356,7,...,-358,-18,358,-268,-169,383,-134,-294,347,23
5,-372,250,172,-390,108,292,-346,-45,367,-244,...,-380,230,182,-393,86,300,-343,-69,371,-232
6,-210,379,-83,-320,326,74,-378,216,217,-378,...,-227,372,-67,-334,310,86,-392,191,226,-383

In [13]:
trans_i = trans_is.loc[1].to_numpy()
trans_q = trans_qs.loc[1].to_numpy()

trans_r = trans_q*np.cos(2*np.pi*times) + trans_i*np.sin(2*np.pi*times)
trans_fft = scipy.fft.fft(trans_r)
freq_trans = scipy.fft.fftfreq(np.size(times), 44.44e-6)

pg.plot(freq_trans, abs(trans_fft)).setLogMode(False, True)